<div *ngIf="isLoading$ | async">
  <p>Loading...</p>
</div>

<div *ngIf="error$ | async as error">
  <p>{{ error }}</p>
</div>

<div *ngIf="tasks$ | async as tasks">
  <ul>
    <li *ngFor="let task of tasks">
      {{ task.title }} - {{ task.description }} - {{ task.deadline }} - {{ task.priority }} - {{ task.status }} - {{ task.performers }}
      <a [routerLink]="['/task', task.id]">View</a>
      <button (click)="editTask(task)">Edit</button>
    </li>
  </ul>
</div>

<app-task-edit *ngIf="selectedTask" [task]="selectedTask" (taskEditClosed)="selectedTask = null"></app-task-edit>