<form [formGroup]="form">
  <div>
    <label for="status-filter">Filter by status:</label>
    <select id="status-filter" formControlName="statusFilter">
      <option *ngFor="let option of statusFilterOptions" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
  </div>
  <div>
    <label for="performer-input-filter">Filter by performer input:</label>
    <input id="performer-input-filter" type="text" formControlName="performerInputFilter">
  </div>
 <label for="deadline-filter">Filter by deadline:</label>
    <select id="deadline-filter" formControlName="deadlineFilter">
      <option *ngFor="let option of deadlineFilterOptions" [value]="option.value">
        {{ option.label }}
      </option>
    </select>

  <div>
    <label for="status-sort">Sort by status:</label>
    <select id="status-sort" formControlName="statusSort">
      <option *ngFor="let option of statusSortOptions" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
  </div>
  <div>
    <label for="performer-sort">Sort by performer:</label>
    <select id="performer-sort" formControlName="performerSort">
      <option *ngFor="let option of performerSortOptions" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
  </div>
  <div>
    <label for="deadline-sort">Sort by deadline:</label>
    <select id="deadline-sort" formControlName="deadlineSort">
      <option *ngFor="let option of deadlineSortOptions" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
  </div>

  <button (click)="onSubmit()">Click</button>
</form>
