<form [formGroup]="form" class="container">
  <mat-form-field>
    <mat-label>Filter by status:</mat-label>
    <mat-select formControlName="statusFilter" (blur)="onBlur()" (selectionChange)="onSelectionChange()">
      <mat-option *ngFor="let option of statusFilterOptions" [value]="option.value">
        {{ option.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Filter by performer input:</mat-label>
    <input matInput formControlName="performerInputFilter" id="performer-input-filter" type="text" (blur)="onBlur()" (keyup.enter)="onEnter()">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Filter by deadline:</mat-label>
    <mat-select formControlName="deadlineFilter" (blur)="onBlur()" (selectionChange)="onSelectionChange()">
      <mat-option *ngFor="let option of deadlineFilterOptions" [value]="option.value">
        {{ option.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Sort by status:</mat-label>
    <mat-select formControlName="statusSort" (blur)="onBlur()" (selectionChange)="onSelectionChange()">
      <mat-option *ngFor="let option of statusSortOptions" [value]="option.value">
        {{ option.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Sort by performer:</mat-label>
    <mat-select formControlName="performerSort" (blur)="onBlur()" (selectionChange)="onSelectionChange()">
      <mat-option *ngFor="let option of performerSortOptions" [value]="option.value">
        {{ option.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Sort by deadline:</mat-label>
    <mat-select formControlName="deadlineSort" (blur)="onBlur()" (selectionChange)="onSelectionChange()">
      <mat-option *ngFor="let option of deadlineSortOptions" [value]="option.value">
        {{ option.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
