<div *ngIf="isLoading " class="spinner">
  <app-spinner ></app-spinner>
</div>

<app-toolbar></app-toolbar>
<div class="grid-container">
  <div class="left-column">
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">
        <div>
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </div>
      </a>
      <a mat-list-item routerLink="/tasks" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">
        <div>
        <mat-icon>assignment</mat-icon>
        <span>My tasks</span>
        </div>
      </a>
      <a mat-list-item routerLink="/diagram" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">
        <div>
        <mat-icon>pie_chart</mat-icon>
        <span>Diagram</span>
        </div>
      </a>
    </mat-nav-list>
  </div>
  <div class="right-column">
    <router-outlet></router-outlet>
  </div>
</div>
