<form
  [formGroup]="taskForm"
  (ngSubmit)="onSubmit()"
  class="modal-form"
  *ngIf="taskWindow"
>
  <div class="container">
    <mat-form-field>
      <mat-label>Status:</mat-label>
      <mat-select formControlName="status">
        <mat-option value="new">New</mat-option>
        <mat-option value="in progress">In Progress</mat-option>
        <mat-option value="completed">Completed</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Performers:</mat-label>
      <input
        type="text"
        matInput
        formControlName="performers"
        id="performers"
      />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Update Task</button>
  </div>
</form>
