<div *ngIf="isLoading$ | async">
  <app-spinner></app-spinner>
</div>

<div *ngIf="error$ | async as error">
  <p>{{ error }}</p>
</div>

<div *ngIf="task$ | async as task" class="task-detail">
  <mat-card class="task-detail__card">
    <mat-card-header>
      <mat-card-title>{{ task?.title }}</mat-card-title>
      <mat-card-subtitle>{{ task?.description }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="task-detail__body">
        <div class="task-detail__deadline box">
          <mat-icon>event</mat-icon>
          <span>Deadline:</span>
          <span>{{ task?.deadline | date }}</span>
        </div>
        <div class="task-detail__priority box">
          <mat-icon>priority_high</mat-icon>
          <span>Priority:</span>
          <span>{{ task?.priority }}</span>
        </div>
        <div class="task-detail__status box">
          <mat-icon>check_circle</mat-icon>
          <span>Status:</span>
          <span>{{ task?.status }}</span>
        </div>
        <div class="task-detail__performers box">
          <mat-icon>people</mat-icon>
          <span>Performers:</span>
          <ol>
            <li *ngFor="let performer of task?.performers">{{ performer }}</li>
          </ol>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="btn">
  <button mat-raised-button class="button" (click)="backTasks()">
    <mat-icon>arrow_back</mat-icon>
    <span>Back to task</span>
  </button>
</div>
